<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
            <% if not @filled_form %>
              <%= render 'form' %>
            <% else %>
              Your package label: <a href=<%= @shipment_url %>>Label</a>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
